.scroll{
    display: none;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 40px;
    transition: .5s all;
    i{
        font-size: 80px;
        margin: 0;
        color: #709DFF;
        &:hover{
            color: red;
        }
    }
}